// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile {
  text-align: center;
}
.user-profile img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.edit-btn {
  margin-top: 30px;
}

.user-profile-projects {
  margin-top: 40px;

    h4 {
        text-align: center;
    }
    p {
        // text-align: center;
    }
}
